





<!-- <html>
    <head>
        <title>
            users
        </title>
    </head>
    <link rel="stylesheet" href="/style.css" >
<style type="text/css">
   
    body{
        background-image: url(/logo.png);
        /* background-color: beige; */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position:center; 
        
    }
    </style>
    <body> -->
        <%- include('_header') %>


<div class="users-container">
    <section class="side-nav">
        <nav>
            <div class="side-nav-item" >     
            <a href="/users/">Dashboard</a>
            </div>
            <div class="side-nav-item" >     
            <a href="/users/">Account</a>
            </div>
            <div class="side-nav-item" >   
            <a href="/users/">Profile</a>
            </div>
            <div class="side-nav-item" >   
                <a href="/users/course-form">print course form</a>
                </div>
            <!-- <a href="/users/">Register</a>
            <a href="/users/">course form</a>            -->
            <div class="side-nav-item" >   
            <a href="/users/">members</a>
            </div>
            <div class="side-nav-item" >   
            <a href="/users/">Settings</a>
            </div>
            <div class="side-nav-item" >   
            <a href="/users/">Help</a>
            </div>
            
        </nav>

    </section>


    <section class="user-section">
        
<div>
    <h2>
       Kumase College of Health Technology Makurdi
    </h2>

</div>




<div class=" users-panel">
<%users.forEach(user=> { %>
  
    <div class="users-heading">
        <a href="/users/<%=user.username%>/">
            <%= user.displayName() %>
        </a>
    </div>
    <% if(user.bio){ %>
        <div class="users-body">
            <%= user.bio %>
        </div>
    <% } %>
<% }) %>

</div>

    </section>

</div>


<%- include('_footer1') %> 